<h1>Virtual Library</h1>
<ul>
	<% @books.each do |book| %>
		<h2><%= link_to(book.name, book_path(book)) %></h2>
		<li><%= book.description %></li>
		<h3>Price: <%= book.price %> - Rating: <%= book.rating %></h3>
	<% end %>
</ul>